* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./img/fundo.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    width: 60vw;
    height: 60vh;
    background-position:60vh;
    background-size: 60vw;
    display: flex;
    align-self: center;
    left: 20%;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
}

.left {
    width: 30%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2rem 0 0 2rem;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    margin: 50px;
}

button {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 30px;

}

.icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

img {
    width: 50px;
}

.right {
    width: 70%;
    height: 100%;
    border-radius:  0 2rem 2rem 0;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.logar {
    position: absolute;
    top: 3rem;
    right: 3rem;
    
}

input {
    margin: 10px;   
}

.entrar {
    background-color: blue;
    color: white;
}